<main class="items-container">
    <table class="items-table">
        <caption>Tabela de produtos</caption>
        <tr>
            <th>Nome</th>
            <th>Tamanho</th>
            <th>Cor</th>
            <th>Preço</th>
        </tr>
        @for(item of listItems; track item.id) {
            <tr>
                <td>{{item.nome}}</td>
                <td>{{item.tamanho}}</td>
                <td>{{item.cor}}</td>
                <td>{{item.preco}}</td>
            </tr>
        }
    </table>
</main>