.success-container {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FAFAFA;
    width: 55vw;
    height: 30vh;
    padding: 2.5rem;
    border-radius: .5rem;
    border: 1px solid black
}

.success-container .buttons-container {
    display: flex;
    justify-content: space-between;
}

.success-container .buttons-container button {
    font-size: 18px;
    border-radius: .5rem;
    padding: 1rem;
    color: #FAFAFA;
    background-color: #486ce4;
    cursor: pointer;
    border: none;
}

.success-container .buttons-container button:hover {
    background-color: #486ce4c9;
    transform: scale(0.95);
    transition: all 0.3s;
}