<section class="login-container">
    <div class="login-container__left">
        <img src="images/logoipsum-named.svg" alt="Logo do PedidoFácil">
        <div class="login-container__left__title">
            <h1><i>Olá</i>, <br id="login-container__br1"> Seja <br id="login-container__br2"> bem-vindo</h1>
            <p>Faça seu login para utilizar o app</p>
        </div>
        
        <form id="login-form" class="login-container__form">
            <div class="login-form__input">
                <input id="input-email-login" class="login-form__input--default" type="text" placeholder="Digite seu Email: ">
                <input id="input-password-login" class="login-form__input--default" [type]="visible ? 'text' : 'password' " placeholder="Digite sua Senha: ">
                <img id="show-password-login" class="login-form__input--eye" (click)="showPassword($event)" [src]="visible ? 'images/eye-solid.svg' : 'images/eye-slash-solid.svg' " alt="Exibir senha">
            </div>
            
            <div class="remember-container">
                <div class="remember-container__left">
                    <input id="login-remember-me" class="login-form__input--remember" type="checkbox" name="remember-me">
                    <label class="login-form__text--remember" for="login-remember-me">Lembrar de mim</label>
                </div>
                <a href="#">Esqueci minha senha</a>
            </div>


            <input class="login-container__submit" type="submit" value="Login">
        </form>
        <p class="create-account">Não tem uma conta? 
            <a href="#">Criar agora</a>
        </p>
    </div>
    <div class="login-container__right">
        <img src="images/login-purple2.png">
    </div>
</section>
