<section class="register-container">
    <div class="register-container__left">
        <img src="images/logoipsum-named.svg" alt="Logo do PedidoFacil">
        <div class="register-container__titlearea">
            <h1>Criar uma conta</h1>
            <p>Faça seu cadastro e eleve a eficiência dos seus processos e a gestão da sua empresa!</p>
        </div>
        <form id="register-form" class="register-form">
            <label for="nome">Nome</label>
            <input id="nome" type="text" placeholder="Digite seu nome:">

            <label for="email">Email</label>
            <input id="email" type="text" placeholder="Digite seu email: "> 

            <label for="password">Senha</label>
            <input id="password" type="password" placeholder="Digite sua senha: "> 

            <label for="repassword">Confirmar senha</label>
            <input id="repassword" type="password" placeholder="Confirme sua senha: "> 

            <label>Cargo</label>
            <input name="role" id="role-costumer" type="radio"> 
            <label for="role-costumer">Vendedor</label>

            <input name="role" id="role-supplier" type="radio">
            <label for="role-supplier">Fornecedor</label>

            <input id="submit" type="submit" value="Cadastrar">
        </form>
        <div class="register-social--top">
            <hr>
            <p>Ou registre-se com</p>
            <hr>
        </div>
        <div class="register-social">
            <a href="#">Google</a>
            <a href="#">Apple</a>
        </div>
        <p>
            Já possui uma conta? 
            <a href="#">Faça seu login</a>
        </p>
    </div>
    <div class="register-container__right">
        
    </div>
</section>
